.polls {
	margin: 0 auto;
	width: 225px;
}

.polls-width {
	width: 250px;
}

.polls-special {
	margin-top: 0px;
	width: 225px;
}

.polls-special-width {
	width: 500px;
}

.poll-graphic {
    background-color: #EEE;
    padding: 2px;	
    width: 250px;
}

.poll-answer {
    font-size: 12px;
    margin-left: 5px;
}

.poll-send-vote {
	text-align: center;
}

.poll-total {
	font-size: 12px
}

.poll-center {
	text-align: center;
}