.forums-create {
	color: #6F675E;
}

.forums-textarea {
	color: #999 !important;
	height: 50px;
}

.forums-title {
	color: #999 !important;
	background-color: #000;
}

#cke_editor {
	width: 600px;
}

.breadcrumb {
	padding: 5px 15px;
	margin: 0 0 20px;
	list-style: none;
	background-color: #eee;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
}

.breadcrumb > li {
	display: inline-block;
	text-shadow: 0 1px 0 #ffffff;
}

.breadcrumb > li > .divider {
	padding: 0 5px;
	color: #A21010;
}

.breadcrumb > .active {
	color: #555;
}