img.avatar {
	height: auto;
	max-width: 700px;
	min-height: 90px;
	min-width: 90px;
}

img.avatar[src$="/default.png"] {
	opacity: 0.5;
}

div.avatar {
	margin-bottom: 10px;
	text-align: center;
}

span.field {
	display: block;
}

p.left {
	margin: 0;
	text-align: center;
}

p.size {
	font-style: italic;
	padding-left: 20px;
	margin-top: -5px;
}

#avatar-container {
	max-width: auto;
}
div.avatar-image {
	background-color: white;
	display: inline-block;
	margin: 0 auto;
	padding: 10px;
	position: relative;
	width: auto: ;
}

div.marker {
	border: 4px solid red;
	cursor: move;
	left: 10px;
	height: 50px;
	position: absolute;
	top: 10px;
	width: 50px;
}

#filedrag {
	background: #fff;
	border: 2px dashed #AAA;
	border-radius: 4px;
	color: #AAA;
	display: none;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 120%;
	margin: 15px 0px;
	padding: 20px 5px;
	text-align: center;
	transition: color .3s;
	-moz-transition: color .3s;
	-ms-transition: color .3s;
	-webkit-transition: color .3s;
	z-index: 1000;
}

#filebrowser {
	margin-right: 5px;
	overflow: hidden;
	position: relative;
}

#filebrowser, input[name='resume'] {
	line-height: 16px;
	vertical-align: bottom;
}

#filebrowser input {
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

@-moz-document url-prefix() { 
	#filebrowser {
		line-height: 18px;
	}
}