img.avatar {
	height: auto;
}

img.avatar[src$="/default.png"] {
	opacity: 0.5;
}

img.avatar[src$="/default.png"] ~ div.avatar {
	background-color: red !important;
}

p.avatar {
	text-align: center;
}

span.field {
	display: block;
}

input.avatar-file {
	display: none;
}

p.left {
	margin: 0;
	text-align: center;
}

div.avatar {
	background-color: white;
	margin: 0 auto;
	min-height: 250px;
	position: relative;
	text-align: center;
	vertical-align: middle;
}