img.avatar {
	background-color: #FFF;
	border: 1px solid #000;
	height: auto;
}

img.avatar[src$="/default.png"] {
	opacity: 0.5;
}

p.avatar-container {
	text-align: center;
}

span.field {
	display: block;
}

input.avatar-file {
	display: none;
}

p.left {
	margin: 0;
	text-align: center;
}