img.avatar {
	height: auto;
	max-width: 700px;
}

img.avatar[src$="/default.png"] {
	opacity: 0.5;
}

div.avatar {
	margin-bottom: 10px;
	text-align: center;
}

span.field {
	display: block;
}

input.avatar-file {
	display: none;
}

p.left {
	margin: 0;
	text-align: center;
}

div.avatar-image {
	background-color: white;
	display: inline-block;
	margin: 0 auto;
	padding: 10px;
	position: relative;
}

div.marker {
	border: 4px solid red;
	cursor: move;
	left: 10px;
	height: 50px;
	position: absolute;
	top: 10px;
	width: 50px;
}