.jdpicker_w {
	display: inline;
}
.education {
	padding-top: 20px;
}
.noresize {
	resize: none;
}
div.span10 {
    margin-left: 0px;
}
div.well {
    box-sizing: border-box;
    float: none;
    padding-bottom: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.remove {
    display: none;
    float: none;
    margin: 0 0 15px 0;
    text-align: center;
    width: auto;
}
.remove-true {
    display: block;
}
.field-p {
    display: inline;
}
a.btn, a.btn:focus {
    color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.field-right {
    color: #ccc !important;
    float: right;
}
.field-title {
    width: 100%;
}
.add-form {
    width: 100% !important;
}
#add {
    display: block;
    float: none;
    font-family: Verdana, Arial, Helvetica, Sans-serif;
    font-size: 13px;
    margin-bottom: 20px;
    margin-right: -12px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.add-form {
    width: 100% !important;
}
input[name=actionSummary] {
    display: block;
    margin-bottom: 20px;
}
