.dateinline {
	display: inline;
}
.education {
	padding-top: 20px;
}
.noresize {
	resize: none;
}
div.span10 {
    margin-left: 0px;
}
div.well {
    box-sizing: border-box;
    float: none;
    padding-bottom: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.remove {
    display: none;
    float: none;
    margin: 0 0 15px 0;
    text-align: center;
    width: auto;
}
.remove-true {
    display: block;
}
#add {
    box-sizing: border-box;
    margin-bottom: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.add-form {
    width: 100% !important;
}
