#content {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	float: none;
	width: auto;
}

#content, .left {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 40px;
}

.left a {
  color: #0088cc;
  text-decoration: none;
}
.left a:hover {
  color: #005580;
  text-decoration: underline;
}
.resalt {
	line-height: 1em;
}