.about {
	background-color: rgb(233,236,239);
	border: 1px solid rgb(183,215,227);
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	font-size: 14px;
	margin: 0;
	padding: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

.username {
	color: #000;
	text-decoration: none;
}

.username:hover {
	text-decoration: underline;
}

.avatar {
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 3px;
	margin-top: 10px;
}

.fullname {
	font-size: 1.5em;
	margin-top: 5px;
}

#posts {
	background-color: #fff;
	border: 1px solid rgb(183,215,227);
	border-top: none;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	padding: 30px;
}