.top {
    margin: 0 auto;
    width: 30%;
}
#contentUsers {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
	display: block;
	margin: 50px auto 0;
	max-width: 800px;
}
.nav a {
	text-decoration: none;
	color: #0088cc;
}
.resalt {
	line-height: 1em;
	margin-bottom: 25px;
}
.field-full-size {
	width: 80%;
}
.field-title {
	margin-bottom: 0px !important;
}
.form-add label {
	margin-bottom: 15px;
}
fieldset {
	width: 98%;
}
@media (max-width: 768px), (max-device-width: 768px) {
    #contentUsers {
    	width: 95%;
		border: 1px solid red;
    }
}
@media (max-width: 480px), (max-device-width: 480px) {
    #contentUsers {
    	width: 90%;
		border: 1px solid green;

    }
}