#content {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	float: none;
	margin-right: 20px;
	width: auto;
}

#content, .left {
	margin-left: 10%;
	margin-top: 40px;
}

.left {
	margin-right: 5%;
}

.left a {
  color: #0088cc;
  text-decoration: none;
}
.left a:hover {
  color: #005580;
  text-decoration: underline;
}
.resalt {
	line-height: 1em;
	margin-bottom: 25px;
}
.field-full-size {
	width: 80%;
}
.field-title {
	margin-bottom: 0px !important;
}
.form-add label {
	margin-bottom: 15px;
}