.jobs {
	width: 98%;
	height: auto;
	margin: 0 auto;
	margin-top: 20px;
}

.jobs a {
	color: #2080b9 !important;
	text-decoration: none;
}

.jobs a:hover {
	color: #333;
}

.job-title {
	font-size: 1.8em;
	font-weight: bold;
	line-height: 30px;
	border: 1px solid #000;
}

.job-title a {
	text-decoration: none;
	color: #252525;
}

.job-title a:hover {
	color: #045c98;
}

.job-company {
	float: left;
	font-size: 0.75em;
	color: #666;
}

.job-location {
	float: right;
	font-size: 0.75em;
	color: #666;
}

.job-dateAdded {
	float: right;
	font-size: 0.75em;
	color: #666;
}

.preview {
	background: rgb(255,255,255);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow:  0px 5px 8px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:  0px 5px 8px 5px rgba(0, 0, 0, 0.5);
	-o-box-shadow:  0px 5px 8px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:  0px 5px 8px 5px rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: rgb(0,0,0);
	cursor: pointer;
	display: none;
	height: 80px;
	left: 50%;
	line-height: 80px;
	font-size: 2em;
	margin-left: -140px;
	margin-top: -120px;
	position: fixed;
	text-align: center;
	top: 50%;
	width: 280px;
}